
<section class="contact">
    <h3>Have a question?</h3>


    <p>
        <span class="label">Web Site:</span>
        <span><a href=""></a></span>
    </p>
    
    <p>
        <span class="label">Forums:</span>
        <span><a href=""</a></span>
    </p>
    <p>
        <span class="label">Phone:</span>
        <span>+1-888-365-2779</span>
    </p>
    <p>
        <span class="label">e-Mail:</span>
        <span><a href="mailto:quyumbdse@yahoo.com">quyumbdse@yahoo.com</a></span>
    </p>
    <a href="/" class="k-button">Return to Store</a>
</section>


<section class="contact">
    <h3>Want to see more?</h3>


    <p>
        <span class="label">Demos:</span>
        <span><a href="https://www.youtube.com/watch?v=E2vDzvIu4uw">Gutar</a></span>
    </p>
   
</section>

