@{
    ViewBag.Title = "Home Page";
}

@section scripts
{
    <script src="~/Scripts/App/home-index.js"></script>
}


<div id="promotion">
    <img data-bind="rotateImages: bannerImages" data-rotate-delay="5000" />
</div>
